<div class="state-wrapper has-navbar">
    <wn-navbar logged="true" type="tour" tour-model="tour" navbar-controller="NavbarTourController" theme="wayonara"></wn-navbar>
    <wn-timeline
        ng-disabled=false
        ng-model="tourTimelineTree"
        on-node-clicked="clickHandler(node, tree)"
        on-node-removed="removeHandler(node, tree)"
        on-change="autosave()">
    </wn-timeline>

    <!--The below container will be injected automatically by the substate-->
    <div ui-view class=""></div>

    <wn-tutorial ng-if="user.onboardingTour === 0"></wn-tutorial>
</div>
