/* === SLIDING NAVIGATION === */
.stack-panel-container {
  position: absolute;
  overflow: hidden;
  height: 100%;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;

  .scrolling-panel {
    position: absolute;
    margin: 0;
    border: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    border-radius: 0;
    transition: all 0.1s ease-out;

    &.active{
      opacity: 1;
    }

    &.inactive{
      opacity: 0;
    }
  }
}