.DS_Store
._.DS_Store
.idea
.vscode

assets/img/onboarding/._welcome
node_modules
npm-debug.log
dist
packages
bower_components

app/config/config-dev.json
assets/scss/wayonara.scss

*.js.map
app/web/**/*.css

doc/coverage
doc/bundle-analyzer
doc/wn-icons.showcase.html
.awesome-typescript-loader-cache

._*

icon-sprite.svg

build/build.properties
build/e2e-compiled

yarn-error.log
