<div id="loginModal" class="wn-modal-window">
    <div class="wn-flex-container wn-responsive wn-row login-pane-wrapper v-align-top h-align-center">
        <div class="login-pane">
            <div class="wn-flex-container wn-column h-align-top v-align-center">
                <div class="logo-wrapper"><img src="../assets/img/logo-wayonara-inverted.svg" /></div>
                <div class="welcome-message-wrapper">{{ ::translation.happy_to_see }}</div>
            </div>
            <div class="wn-flex-container v-align-center h-align-center wn-column">
                <form id="formLogin" name="formLogin" role="form" ng-submit="login(formLogin.$valid)" novalidate autocomplete="off">
                    <div class="form-group margin-bottom-md">
                    <!-- <button class="ui-action-button expanded social twitter" ng-click="twitterLogin()"><span class="wn-icon wn-icon-twitter"></span><span class="ui-action-label">{{ ::translation.loginWithTwitter }}</span></button> -->
                    <!-- <button class="ui-action-button expanded social instagram" ng-click="instagramLogin()"><span class="wn-icon wn-icon-instagram"></span><span class="ui-action-label">{{ ::translation.loginWithInstagram }}</span></button> -->
                        <wn-button
                            css-classes="btn btn-facebook btn-block"
                            [label]="translation.loginWithFacebook"
                            ng-click="facebookLogin()"
                            [is-loading]="isLoadingFacebook">
                            <wn-icon glyph="facebook"></wn-icon>
                        </wn-button>
                    </div>
                    <!--Here the form-->
                    <div class="form-group">
                        <wn-input
                            input-controller="InputTypeController"
                            tabindex=1
                            wn-input-id="username"
                            wn-input-type="text"
                            wn-input-label="{{ ::translation.username }}"
                            wn-input-model="username"
                            wn-input-required="true"
                            wn-input-maxlength="15">
                        </wn-input>
                        <span ng-show="formLogin.username.$dirty && formLogin.username.$error.required" class="help-block">{{ ::translation.username_is_required }}</span>
                        <span ng-show="formLogin.username.$dirty && formLogin.username.$error.maxlength" class="help-block">{{ ::translation.username_too_long }}</span>
                    </div>
                    <div class="form-group">
                        <wn-input
                            input-controller="InputTypeController"
                            tabindex=2
                            wn-input-id="password"
                            wn-input-type="password"
                            wn-input-label="{{ ::translation.password }}"
                            wn-input-model="password"
                            wn-input-required="true"
                            wn-input-minlength="6"
                            wn-input-maxlength="256">
                        </wn-input>
                        <span ng-show="formLogin.password.$dirty && formLogin.password.$error.required" class="help-block">{{ ::translation.password_is_required }}</span>
                        <span ng-show="formLogin.password.$dirty && formLogin.password.$error.minlength" class="help-block">{{ ::translation.password_too_short }}</span>
                        <span ng-show="formLogin.password.$dirty && formLogin.password.$error.maxlength" class="help-block">{{ ::translation.password_too_long }}</span>
                    </div>
                    <div class="form-group wn-loadable">
                        <wn-button
                            button-type="submit"
                            css-classes="btn btn-primary btn-lg btn-block"
                            [label]="translation.log_in"
                            [disabled]="formLogin.$invalid === true"
                            [is-loading]="isLoading"
                            ng-click="login(formLogin.$valid)"
                        ></wn-button>
                    </div>
                    <a ui-sref="password-recovery">{{ ::translation.forgot_password }}?</a>
                </form>
            </div>
            <div class="wn-flex-container v-align-center h-align-bottom wn-column" ng-show="!remoteValidation">
                <div class="alert alert-danger">{{ loginStatus }}</div>
            </div>
        </div>
    </div>
</div>
