@import '../../../../../assets/scss/overrides/bootstrap/variables';

.padding-bottom-custom {
    padding-bottom: $line-height-computed !important;
}

@media (max-width: $screen-md - 1) {
    .container {
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
    }
}
