<div class="container text-center">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <header class="margin-top-sm margin-bottom-none">
                <p class="margin-vertical-none">
                    <a uiSref="homePublic"><img src="/assets/img/public/logo-payoff.png" width="112" height="42" alt="Wayonara" /></a>
                </p>
                <h1 class="margin-top-xs margin-bottom-sm">{{ labels.newPassword.title }}<span class="text-primary">!</span></h1>
                <h2>{{ labels.newPassword.subtitle }}.</h2>
            </header>

            <main>
                <form #newPasswordForm="ngForm" novalidate autocapitalize="none">
                    <div class="form-group text-left" [ngClass]="{
                        'has-success': isMatchingPasswords === true && newPasswordForm.form.valid === true,
                        'has-warning': (isMatchingPasswords === false && newPasswordForm.form.valid === true) || ((password.dirty === true || password.touched === true) && password.errors !== undefined && password.errors !== null),
                        'padding-bottom-custom': (isMatchingPasswords !== false || newPasswordForm.form.valid === false) && ((password.dirty === false && password.touched === false) || password.errors === undefined || password.errors === null)
                    }">
                        <label for="password">{{ labels.newPassword.inputLabel }}</label>
                        <input
                            autofocus
                            id="password"
                            type="password"
                            name="password"
                            [(ngModel)]="model.password"
                            (ngModelChange)="matchPasswords($event)"
                            #password="ngModel"
                            #autofocusControl
                            class="form-control"
                            minlength="8"
                            maxlength="256"
                            required />
                        <span class="help-block margin-vertical-none" *ngIf="(password.dirty === true || password.touched === true) && password.errors !== undefined && password.errors !== null && password.errors['required'] === true">
                            {{ translationResolved.password_is_required }}
                        </span>
                        <span class="help-block margin-vertical-none" *ngIf="(password.dirty === true || password.touched === true) && password.errors !== undefined && password.errors !== null && password.errors['minlength']">
                            {{ translationResolved.password_too_short }}
                        </span>
                        <span class="help-block margin-vertical-none" *ngIf="(isMatchingPasswords === false && newPasswordForm.form.valid === true)">
                            {{ labels.newPassword.passwordMismatch }}
                        </span>
                    </div>

                    <div class="form-group text-left" [ngClass]="{
                        'has-success': isMatchingPasswords === true && newPasswordForm.form.valid === true,
                        'has-warning': (isMatchingPasswords === false && newPasswordForm.form.valid === true) || ((passwordConfirm.dirty === true || passwordConfirm.touched === true) && passwordConfirm.errors !== undefined && passwordConfirm.errors !== null),
                        'padding-bottom-custom': (isMatchingPasswords !== false || newPasswordForm.form.valid === false) && ((passwordConfirm.dirty === false && passwordConfirm.touched === false) || passwordConfirm.errors === undefined || passwordConfirm.errors === null)
                    }">
                        <label for="passwordConfirm">{{ labels.newPassword.inputConfirmLabel }}</label>
                        <input
                            id="passwordConfirm"
                            type="password"
                            name="passwordConfirm"
                            [(ngModel)]="model.passwordConfirm"
                            (ngModelChange)="matchPasswords($event)"
                            #passwordConfirm="ngModel"
                            class="form-control"
                            minlength="8"
                            maxlength="256"
                            required />
                        <span class="help-block margin-vertical-none" *ngIf="(passwordConfirm.dirty === true || passwordConfirm.touched === true) && passwordConfirm.errors !== undefined && passwordConfirm.errors !== null && passwordConfirm.errors['required'] === true">
                            {{ translationResolved.password_is_required }}
                        </span>
                        <span class="help-block margin-vertical-none" *ngIf="(passwordConfirm.dirty === true || passwordConfirm.touched === true) && passwordConfirm.errors !== undefined && passwordConfirm.errors !== null && passwordConfirm.errors['minlength']">
                            {{ translationResolved.password_too_short }}
                        </span>
                        <span class="help-block margin-vertical-none" *ngIf="(isMatchingPasswords === false && newPasswordForm.form.valid === true)">
                            {{ labels.newPassword.passwordMismatch }}
                        </span>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 margin-vertical-xs">
                            <wn-button
                                cssClasses="btn btn-primary btn-block"
                                [label]="labels.newPassword.mainAction"
                                buttonType="submit"
                                [isLoading]="isLoading"
                                (click)="onSubmit($event)"
                                [disabled]="!newPasswordForm.form.valid || !isMatchingPasswords"
                            ></wn-button>
                        </div>
                        <div class="col-xs-12 col-sm-6 margin-vertical-xs">
                            <wn-button
                                cssClasses="btn btn-default btn-block"
                                [label]="translationResolved.cancel"
                                uiSref="signIn"
                            ></wn-button>
                        </div>
                    </div>
                </form>
            </main>

             <aside
                class="alert alert-warning margin-vertical-sm"
                [hidden]="errorMessage === undefined">
                {{ errorMessage }}
            </aside>
        </div>
    </div>
</div>
