<div class="container-fluid panel-fixed">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <div>
                <img src="../assets/img/logo-wayonara.svg" class="wn-logo-lg"/>
            </div>
            <div>
                <h1 class="ui-font-md ui-text-dark">{{ ::translation.aware_pwd_length }}</h1>
            </div>
            <div>
                <h2 class="ui-font-sm ui-text-light">{{ ::translation.choose_new_password }}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <form id="formNewPassword" name="formNewPassword" role="form" class="form-new-password" novalidate>
                <div class="form-group">
                    <wn-input
                        input-controller="InputTypeController"
                        wn-input-type="password"
                        wn-input-id="password"
                        wn-input-label="Password"
                        wn-input-model="password"
                        ng-model="password"
                        wn-input-minlength="8"
                        wn-input-maxlength="160"
                        wn-input-required="true">
                    </wn-input>
                </div>
                <div class="form-group">
                    <wn-input
                        wn-input-type="password"
                        wn-input-id="confirmPassword"
                        wn-input-label="Confirm Password"
                        wn-input-model="confirmPassword"
                        ng-model="confirmPassword"
                        wn-match="password"
                        input-controller="InputTypeController">
                    </wn-input>
                    <span ng-show="formNewPassword.password.$dirty && formNewPassword.password.$error.required" class="help-block">{{ ::translation.please_enter_new_pwd }}</span>
                    <span ng-show="formNewPassword.password.$dirty && formNewPassword.password.$error.minlength" class="help-block">{{ ::translation.password_too_short }}</span>
                    <span ng-show="formNewPassword.password.$dirty && formNewPassword.password.$error.maxlength" class="help-block">{{ ::translation.password_too_long }}</span>
                </div>
                <div class="form-group text-uppercase">
                    <button class="btn btn-lg btn-default" type="button" ui-sref="login">{{ ::translation.cancel }}</button>
                    <wn-button
                        css-classes="btn btn-lg btn-primary"
                        [label]="translation.CONTINUE"
                        [disabled]="formNewPassword.$invalid === true"
                        [is-loading]="isLoading === true"
                        ng-click="changePassword(formNewPassword.$valid)"
                    ></wn-button>
                </div>
            </form>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-12 col-md-12">
            <ng-messages for="formNewPassword.$error">
                <ng-message when="wnMatch" role="alert" class="alert alert-danger">{{ ::translation.pwd_mismatch }}</ng-message>
            </ng-messages>
            <ng-messages for="remoteValidationError">
                <ng-message when="code" class="alert alert-danger" role="alert">{{ remoteValidationError.message }}</ng-message>
            </ng-messages>
        </div>
    </div>
</div>
