@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '../../../../assets/scss/overrides/bootstrap/variables';

img {
    @include box-shadow($box-shadow-base-size $box-shadow-base-color);

    &.responsive {
        width: 100%;
        height: auto;
    }

    &.lg {
        width: $avatar-size-lg;
        height: $avatar-size-lg;
    }

    &.md {
        width: $avatar-size;
        height: $avatar-size;
    }

    &.sm {
        width: $avatar-size-sm;
        height: $avatar-size-sm;
    }
}
