<article class="modal-plan-shard panel panel-default margin-vertical-none" [wnBackgroundImage]="componentData.backgroundOptions" [ngStyle]="styleBackgroundImage">
    <div class="panel-body">
        <div class="header">
            <wn-avatar [userId]="loggedUser.nid" cssClasses="pull-left"></wn-avatar>
        </div>
        <div class="type">
            <wn-icon-label [iconClasses]="componentData.shardIconClasses" [label]="componentData.title"></wn-icon-label>
        </div>
    </div>
</article>
