<div class="state-wrapper has-navbar">
    <wn-navbar logged="true" type="error" theme="wayonara" navbar-controller="wnError.NavbarCtrl"></wn-navbar>
    <div class="wn-error wn-flex-container wn-responsive">
        <div class="wn-error-bg">
            <div class="stars">
                <div class="star size-l">
                    <img src="../assets/img/landing/star-big.svg" />
                </div>
                <div class="star size-s">
                    <img src="../assets/img/landing/star-small.svg" />
                </div>
                <div class="star size-s">
                    <img src="../assets/img/landing/star-small.svg" />
                </div>
                <div class="star size-l">
                    <img src="../assets/img/landing/star-big.svg" />
                </div>
                <div class="star size-s">
                    <img src="../assets/img/landing/star-small.svg" />
                </div>
                <div class="star size-l">
                    <img src="../assets/img/landing/star-big.svg" />
                </div>
                <div class="star size-s">
                    <img src="../assets/img/landing/star-small.svg" />
                </div>
                <div class="star size-s">
                    <img src="../assets/img/landing/star-small.svg" />
                </div>
                <div class="star size-l">
                    <img src="../assets/img/landing/star-big.svg" />
                </div>
                <div class="star size-s">
                    <img src="../assets/img/landing/star-small.svg" />
                </div>
            </div>
            <div class="planets">
                <div class="planet mars">
                    <img src="../assets/img/landing/mars.png" />
                </div>
                <div class="planet pluto">
                    <img src="../assets/img/landing/pluto.png" />
                </div>
                <div class="planet erebus">
                    <img src="../assets/img/landing/erebus.png" />
                </div>
            </div>
        </div>
        <div class="wn-error-content wn-flex-container wn-row">
            <div class="wn-flex-container wn-column v-align-center h-align-center">
                <h1>Houston we've a problem!</h1>
                <h2>It seems you landed in an unknown planet...</h2>
                <p>
                    <a href ng-click="historyBack()">Go back to the previous page</a> or
                    <a href ng-click="goToStream()">go back to the Stream</a>
                </p>
            </div>
        </div>
    </div>
</div>
