.shardifier-cnt{
  width: 100%;
  height: 850px;

  .shardifier-det{
    background-color: #eceff1;
    width: 100%;
    height: 100%;

    .shardifier-det-text-content{
      margin-top: 140px;
    }

    .shardifier-head-cnt{
       overflow: hidden;
    }

    .shardifier-head{
          font-family: 'Playfair Display', serif;
          font-size: 48px;
          z-index: 40;
    }

    .shardifier-sec{
          color: #B0BEC5;
          font-size: 12px;
          z-index: 40;
    }

    .shardifier-vect-icon{
          display: inline;
          line-height: 68px;
          height: 68px;
          font-size: 48px;
          vertical-align: middle;
    }

    .shardifier-sec-cnt{
        padding-top: 130px;
    }

    .shardifier-sec2{
          font-size: 16px;
          font-weight: 600;
          color: #455a64;
          font-family: 'Open Sans', sans-serif;
          text-transform: capitalize;
          z-index: 40;
    }

    .shardifier-third-cnt{
        padding-top: 40px;

        .btn-price-int{
            font-size: 24px;
        }

        .btn-price-decimal{
            font-size: 18px;
        }
    }

    .shardifier-h2{
          font-size: 40px;
          font-weight: 900;
          color: #455a64;
          font-family: 'Playfair Display', serif;
          z-index: 40;
          padding-right: 30px;
    }

    .shardifier-flight{
          background-image: url('/assets/img/airplane.png');
          width: 203px;
          height: 197px;
          z-index: 20;
          bottom: 224px;
          left: -120px;
          position: absolute;
          background-repeat: no-repeat;
          background-size: contain;
    }

    .shardifier-cloud{
          background-image: url('/assets/img/cloud-bottom-left.png');
          width: 278px;
          height: 120px;
          z-index: 20;
          bottom: 250px;
          left: -93px;
          position: absolute;
          background-repeat: no-repeat;
          background-size: contain;
    }

  }

  .map-cnt{
    height: 100%;

    .map{
      width: 100%;
      height: 100%;
    }
  }
}
