<div class="container text-center">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <header class="margin-top-sm margin-bottom-none">
                <p class="margin-vertical-none">
                    <a uiSref="homePublic"><img src="/assets/img/public/logo-payoff.png" width="112" height="42" alt="Wayonara" /></a>
                </p>
                <h1 class="margin-top-xs margin-bottom-sm">{{ labels.passwordRecovery.title }}<span class="text-primary">!</span></h1>
                <h2>{{ labels.passwordRecovery.subtitle }}.</h2>
            </header>

            <main>
                <form #passwordRecoveryForm="ngForm" novalidate autocapitalize="none">
                    <div class="form-group">
                        <label for="user" class="sr-only">{{ labels.passwordRecovery.inputLabel }}</label>
                        <input
                            autofocus
                            id="user"
                            type="text"
                            name="user"
                            [(ngModel)]="model.user"
                            #user="ngModel"
                            #autofocusControl
                            class="form-control"
                            required />
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 margin-vertical-xs">
                            <wn-button
                                cssClasses="btn btn-primary btn-block"
                                [label]="labels.passwordRecovery.mainAction"
                                buttonType="submit"
                                [isLoading]="isLoading"
                                (click)="onSubmit($event)"
                                [disabled]="!passwordRecoveryForm.form.valid"
                            ></wn-button>
                        </div>
                        <div class="col-xs-12 col-sm-6 margin-vertical-xs">
                            <wn-button
                                cssClasses="btn btn-default btn-block"
                                [label]="translationResolved.cancel"
                                uiSref="signIn"
                            ></wn-button>
                        </div>
                    </div>
                </form>
            </main>

            <aside
                class="alert alert-warning margin-vertical-sm"
                [hidden]="errorMessage === undefined">
                {{ errorMessage }}
            </aside>
        </div>
    </div>
</div>
