<div class="container text-center">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <header class="margin-top-sm margin-bottom-none">
                <p class="margin-vertical-none">
                    <a uiSref="homePublic"><img src="/assets/img/public/logo-payoff.png" width="112" height="42" alt="Wayonara" /></a>
                </p>
                <h1 class="margin-top-xs margin-bottom-sm">{{ labels.codeCheck.title }}<span class="text-primary">!</span></h1>
                <h2>{{ labels.codeCheck.subtitle }}.</h2>
            </header>

            <main>
                <form #codeCheckForm="ngForm" novalidate autocapitalize="none">
                    <div class="form-group">
                        <label for="authCode" class="sr-only">{{ labels.codeCheck.inputLabel }}</label>
                        <input
                            autofocus
                            id="authCode"
                            type="text"
                            name="authCode"
                            [(ngModel)]="model.authCode"
                            #authCode="ngModel"
                            #autofocusControl
                            class="form-control"
                            required />
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 margin-vertical-xs">
                            <wn-button
                                cssClasses="btn btn-primary btn-block"
                                [label]="labels.codeCheck.mainAction"
                                buttonType="submit"
                                (click)="onSubmit($event)"
                                [disabled]="!codeCheckForm.form.valid"
                            ></wn-button>
                        </div>
                        <div class="col-xs-12 col-sm-6 margin-vertical-xs">
                            <wn-button
                                cssClasses="btn btn-default btn-block"
                                [label]="translationResolved.cancel"
                                uiSref="signIn"
                            ></wn-button>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
